html,
body {
  padding: 0;
  margin: 0;
}
*{
  font-family:'Montserrat', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  padding: 0;
}

a {
  color: #0072A0;
  text-decoration: none;
}


Link:hover{
  cursor:pointer;
}


