.contentBody {
  /* display: grid;
  grid-template-columns: 20% 80%; */
  margin: 20px 120px;
}
/* .content{
  width: 100%;
  min-width: 640px;
} */

@media screen and (max-width: 600px) {
  .contentBody {
    margin: 10px 10px;
    /* width: 100%; */
  }
}
