.major{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}
.card {
  color: #3f556b;
  width: 300px;
  height: 300px;
  background: #dee6ee;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 10px 5px 10px;
  border-radius: 3px;
  margin: .8rem;
  cursor: pointer;
}
.card:hover {
  transition: 0.6s ease-in;
  transform: scale(1.06);
}
.card p {
  padding: 0;
}
.jobTitle {
  font-size: 1rem;
  color: #3f556b;
  padding-top: 15px;
  font-weight: bold;
}
.companyDetails {
  font-size: 15.7px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #636e72;
}

.deadline {
  color: #2980b9;
  font-size: 14px;
}
.paragraph {
  font-size: 13px;
}
@media screen and (max-width: 480px) {
  .major{
  width: 70vh;
  }
}
